################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MinistryMate-Web/obj/Debug/netcoreapp1.0
/MinistryMate-Web/bin/Debug/netcoreapp1.0
